body {
    background: rgb(93, 32, 49);
    padding-left: 18.5rem;
    padding-top: 4rem;
}

.resposta {
    padding-top: 20px;
    height: 100px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 8rem;

}

.verificar {
    padding-top: 30px;
    height: 20px;
    padding-left: 55px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
    padding-left: 8rem;
    font-size: 20px;
}

.input-style {
    background: rgb(225, 225, 225);
    width: 260px;
    height: 37px;
    border-radius: 10px;
    border-color: rgb(114, 114, 114);
}

.input-verificar {
    background: white;
    width: 150px;
    height: 37px;
    border-radius: 10px;
    border-color: rgb(169, 176, 182);
}

.input-visor {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texto {
    width: 310px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 8rem;
}

.titulo {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 25px;
}